<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      window.onpageshow = function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      };
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <title>List of Students</title>
  </head>

  <body>
    <h1>List of all students</h1>
    <ol>
      <% for(let x of allStudents){%> <% if(x.username !== "Admin"){%>
      <li><a href="/admin_delete/<%=x._id%>"> <%=x.username%></a></li>
      <%}%> <%}%>
    </ol>
  </body>
</html>
