<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page of Cloud Computing Lab 3</h1>
    <div>
      <p><a href="/signup">SIGN-UP</a></p>
      <p><a href="/login">LOGIN</a></p>
      <p><a href="/admin">ADMIN</a></p>
    </div>
  </body>
</html>
